*,
*:after,
*:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(135deg,#93F9B9,#E684AE);
}

.container{
    border:2px solid rgb(234, 231, 231);
    width: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    min-width: 450px;
padding: 30px 40px;
}

#newTask{
    padding: 30px 20px;
    background-color: white; 
border-radius: 5px;
box-shadow: 0 15px 30px rgba(0, 00, 00, 0.3);
}

#newTask input{
    width: 70%;
    height: 45px;
    border: 2px solid rgb(88, 87, 87);
    /* border-radius: 10px; */
    font-size: 15px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
}

#newTask input:focus{
    outline: none;
    border-color: #9b28b3;
}

#newTask button{
    position: relative;
    float: right;
width: 20%;
height: 45px;
border-radius: 5px;
font-weight: 500;
font-size: 16px;
background-color: #9b28b3;
border: none;
color: white;
cursor: pointer;
}

#tasks{
    background-color: white;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 00, 00, 0.3);
    width: 100%;
    position: relative;
}

.tasks{
    background-color: white;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #9b28b3;
    cursor: pointer;
}

.tasks span{
    font-size: 15px;
    font-weight: 400;
}

.tasks button{
    background-color: #9b28b3;
    color: white;
    height: 100%;
    width: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.completed{
    text-decoration: line-through;
}

h1{
    text-align: center;
    padding-top: 5%;
    color: #710b85;
}